"extra_config": {
    "github.com/devopsfaith/krakend-jose/validator": {
        "alg": "HS256",
        "jwk-url": "http://10.255.246.93:8443/auth/realms/master/protocol/openid-connect/certs",
        "issuer": "http://10.255.246.93:8443/auth/realms/master",
        "disable_jwk_security": true,
        "cookie_key": "KEYCLOAK_TOKEN"
    }
}
