    "extra_config": {
        "github.com/devopsfaith/krakend-jose/validator": {
            "alg": "RS256",
            "jwk-url": "http://keycloak:8080/auth/realms/master/protocol/openid-connect/certs",
            "issuer": "http://localhost:8403/auth/realms/master",
            "disable_jwk_security": true
        }
    }